@(title: String)(sidebar: Html)(javascript: Html)(css: Html)(content: Html)

<!DOCTYPE html>

<html>
<head>
<!-- Google Chrome Frame support -->
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>@title</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

@minified=@{ if (play.Play.isProd()) ".min" else "" }
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/twitterbootstrap/bootstrap"+ minified + ".css")">
@css

<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/twitterbootstrap/bootstrap-dropdown.js")" type="text/javascript"></script>
@javascript

</head>
<body>
	@header()

    <div class="container">
    @if(sidebar != null) {
	   <div class="row">
	       <div class="span3">
	           <div class="well sidebar-nav">
	               @sidebar
	           </div>
	       </div>
	       <div class="span9">
               <div class="well">
                    @content
               </div>
           </div>
	   </div>
	
	} else {
	   @content
	}
	</div>
</body>
</html>
